[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/acumos-gerrit-acumos-python-client-committers
	owner = group saml/acumos-gerrit-acumos-python-client-committers
	push = group ldap/acumos-gerrit-acumos-python-client-committers
	push = group saml/acumos-gerrit-acumos-python-client-committers
	create = group ldap/acumos-gerrit-acumos-python-client-committers
	create = group saml/acumos-gerrit-acumos-python-client-committers
	read = group GitHub Replication
[project]
	description = The Acumos Python client library
