pytest
pytest-rerunfailures
pytest-cov
connexion==1.5.2
pandas
scikit-learn
jsonschema==2.6.0
keras
h5py
tensorflow
pexpect==4.6.0
pillow
mock
git+https://github.com/keras-team/keras-contrib.git#egg=keras_contrib
